{% extends "base.html" %}
{% block page_content %}
<h1>Dự Án</h1>
<div>
    <form action="{% url 'duan_search' %}" method="POST">
      {% csrf_token %}
      <input name="q" type="text" placeholder="Search..." value="{{keyword}}">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<h3>
    {% if keyword %}
        Tìm thấy {{ duans|length }} kết quả cho keyword "{{ keyword }}"
    {% else %}
        Tất cả Dự án
    {% endif %}
</h3>
<div class="row">
{% for duan in duans %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body">
                <a href="{% url 'duan_detail' duan.id %}">
                    <h5 class="card-title">{{ duan.name }}</h5>
                </a>
                <p class="card-text">
                    <b>Ngôn ngữ:</b> {{ duan.ngon_ngu }}
                </p>
                <p class="card-text">
                    <b>Team:</b>
                    <a href="{% url 'team_detail' duan.team.id %}">{{ duan.ten_team_tao_ra }}</a>
                </p>
                <p class="card-text">
                    <b>Thành viên:</b>
                    {% for nhanvien in duan.nhanviens %}
                        <a href="{% url 'nhanvien_detail' nhanvien.id %}">
                            {{nhanvien.name}}
                        </a>.
                    {% endfor %}
                 </p>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
