{% extends "base.html" %}
{% block page_content %}
<!-- <a href="{% url 'duan_index' %}">List Dự án</a> -->
<div class="d-flex mt-4">
    <div class="col-6">
        <h1>{{ duan.name}}</h1>
        <h5>Ngôn ngữ:</h5>
        <p>{{ duan.ngon_ngu }}</p>
        <h5>Summary:</h5>
        <p>{{ duan.summary}}</p>
    </div>
    <div class="col-6">
        <h5>Team:</h5>
        <a href="{% url 'team_detail' duan.team.id %}">
            <p>{{ duan.team.name }}</p>
        </a>
        <h5>Nhân viên:</h5>
        <p>
            {% for nhanvien in duan.nhanviens %}
                <a href="{% url 'nhanvien_detail' nhanvien.id %}">
                    {{nhanvien.name}}
                </a>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}