{% extends "base.html" %}
{% block page_content %}
<h1>{{ nhanvien.name }}</h1>
<div>
    <h5>Birth date:</h5>
    <p>{{ nhanvien.birthdate }}</p>
    <h5>Birth place:</h5>
    <p>{{ nhanvien.birthplace }}</p>
    <h5>Home town:</h5>
    <p>{{ nhanvien.hometown }}</p>
    <h5>Address:</h5>
    <p>{{ nhanvien.address }}</p>
    <h5>Year:</h5>
    <p>{{ nhanvien.year }}</p>
    <h5>Email:</h5>
    <p>{{ nhanvien.email }}</p>
    <h5>Team:</h5>
    <p>{{ nhanvien.team.name }}</p>
    <h5>Title:</h5>
    <p>{{ nhanvien.title }}</p>
    <h5>DuAns:</h5>
    <p>
        {% for duan in nhanvien.duans %}
            <div>
                <a href="{% url 'duan_detail' duan.id %}">
                    {{ duan.name }}
                </a>
            </div>
        {% endfor %}
    </p>
</div>

{% endblock %}
