{% extends "base.html" %}
{% block page_content %}
<h1>Nhân Viên</h1>
<div>
    <form action="{% url 'nhanvien_search' %}" method="POST">
      {% csrf_token %}
      <input name="q" type="text" placeholder="Search...">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<h3>
    {% if keyword %}
        Tìm thấy {{ nhanviens|length }} kết quả cho keyword "{{ keyword }}"
    {% else %}
        Tất cả Nhân viên
    {% endif %}
</h3>
<div class="row">
{% for nhanvien in nhanviens %}
    <div class="col-md-4">
        <div class="card mb-2">
            <div class="card-body text-center">
                <a href="{% url 'nhanvien_detail' nhanvien.id %}">
                    {% load static %}
                    <img src="{% get_static_prefix %}images/{{ nhanvien.avatar }}" alt="My image" width="100px">
                </a>
                <a href="{% url 'nhanvien_detail' nhanvien.id %}">
                    <h5 class="card-title">{{ nhanvien.name }}</h5>
                </a>
                <p>{{ nhanvien.ten_chucvu }}</p>
                <p class="card-text">{{ nhanvien.address }}</p>
                <p class="card-text">{{ nhanvien.email }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
